@value makerGreen,makerWhite,makerLightPink from '../../common/colors.module.css';
@value mediaQuery from '../../common/size.module.css';

.maker {
    width: 100%;
    max-width: 80rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.section {
    flex: 1;
    background-color: makerWhite;
    display: flex;
    min-height: 0;
}

@media screen and (max-width:mediaQuery) {
    .section {
        flex-direction: column;
    }
}
